<div class="uk-container">



	<div class="uk-card uk-card-default uk-card-body">
		<form id="buy-stock" class="uk-grid-small" uk-grid>
			<div class="uk-width-1-4@s">
				<input id="stock" class="uk-input" type="text" placeholder="GME">
			</div>
			<div class="uk-width-1-4@s">
				<input id="quantity" class="uk-input" type="number" placeholder="10">
			</div>
			<div class="uk-width-1-4@s">
				<select id="member-choice" class="uk-select">
					{{#each dbMemberData as |member|}}
					<option value="{{member.dataValues.id}}">{{member.dataValues.first_name}}
						{{member.dataValues.last_name}}</option>
					{{/each}}
				</select>
			</div>
			<div class="uk-width-1-4@s">
				<button class="uk-button uk-button-primary" type="submit">Buy</button>
			</div>
		</form>
	</div>


</div>

<div class="chart-container" style="position: relative; height:20vh; width:20vw">
    <canvas id="myChart"></canvas>
</div>




<!-- Start Modals -->

<div id="new-member-modal" class="uk-flex-top" uk-modal>
	<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

		<button class="uk-modal-close-default" type="button" uk-close></button>

		<form id="add-member-form">
			<div class="uk-margin">
				<label for="first-name">First Name</label>
				<input class="uk-input" type="text" id="create-first-name">
			</div>
			<div class="uk-margin">
				<label for="last-name">Last Name</label>
				<input class="uk-input" type="text" id="create-last-name">
			</div>
			<div class="uk-margin">
				<label for="relationship">Relationship</label>
				<select class="uk-select" id="create-relationship">
					<option>Spouse</option>
					<option>Child</option>
					<option>Parent</option>
					<option>Grandparent</option>
					<option>Sibling</option>
					<option>Other</option>
				</select>
			</div>
			<button type="submit" class="uk-button uk-button-primary uk-width-1-1 uk-margin-small-bottom">
				<i class="fas fa-plus"></i> Add Member
			</button>
		</form>

	</div>
</div>

<div id="edit-member-modal" class="uk-flex-top" uk-modal>
	<div class="uk-modal-dialog uk-modal-body uk-margin-auto-vertical">

		<button class="uk-modal-close-default" type="button" uk-close></button>

		<table class="uk-table uk-table-divider">
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Relationship</th>
				</tr>
			</thead>
			<tbody>
				{{#each dbMemberData as |member|}}
				<tr id="{{member.dataValues.id}}">
					<td>{{member.dataValues.first_name}}</td>
					<td>{{member.dataValues.last_name}}</td>
					<td>{{member.dataValues.relationship}}</td>
					{{#unless member.dataValues.is_user}}
					<td><a href="#" class="delete"><i class="fas fa-trash-alt"></i></a></td>
					{{else}}
					<td><i class="fas fa-lock"></i></td>
					{{/unless}}
				</tr>
				{{/each}}
			</tbody>
		</table>

	</div>
</div>


<!-- End Modals -->

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="./assets/js/dashboard.js"></script>
<script src="./assets/js/stockQuote.js"></script>
<script src="./assets/js/piechart.js"></script>